.navbar {
  width: 100%;
  height: 80px;
  background: rgb(171, 166, 255);
  background: linear-gradient(
    138deg,
    rgba(171, 166, 255, 1) 0%,
    rgba(166, 237, 250, 1) 58%,
    rgba(239, 210, 240, 1) 92%
  );

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.links {
  margin-right: 50px;
  display: flex;
  align-items: center;
}

.links a {
  text-decoration: none;
  color: black;
  margin-left: 20px;
  font-size: 25px;
}
